name: Wine Ubuntu CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

      - uses: actions/checkout@v4
      - name: Compilation
        run: |
          sudo dpkg --add-architecture i386 && sudo apt-get update
          sudo apt-get install aptitude
          sudo aptitude remove -y '?narrow(?installed,?version(deb.sury.org))'
          wget http://archive.ubuntu.com/ubuntu/pool/main/p/pcre2/libpcre2-8-0_10.42-4ubuntu2.1_amd64.deb
          sudo dpkg -i --force-all libpcre2-8-0_10.42-4ubuntu2.1_amd64.deb
          sudo apt-get install --reinstall libpcre2-8-0:i386 libpcre2-posix3:i386
          cd wine-tkg-git 
          echo '_ci_build="true"' >> customization.cfg
          touch tarplz
          yes|./non-makepkg-build.sh
      - name: Archive the artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wine-tkg-build
          path: wine-tkg-git/non-makepkg-builds
