name: Wine Ubuntu CI (WOW64)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v2
      - name: Compilation
        run: |
          sudo dpkg --add-architecture i386 && sudo apt-get update
          sudo apt-get install aptitude
          sudo aptitude remove -y '?narrow(?installed,?version(deb.sury.org))'
          wget http://archive.ubuntu.com/ubuntu/pool/main/p/pcre2/libpcre2-8-0_10.34-7ubuntu0.1_amd64.deb
          sudo dpkg -i --force-all libpcre2-8-0_10.34-7ubuntu0.1_amd64.deb
          sudo apt-get install --reinstall libpcre2-8-0:i386 libpcre2-posix2:i386
          cd wine-tkg-git 
          sed -i 's/distro=""/distro="debuntu"/' customization.cfg
          sed -i 's/_NOLIB32="false"/_NOLIB32="wow64"/' wine-tkg-profiles/advanced-customization.cfg
          echo '_ci_build="true"' >> customization.cfg
          touch tarplz
          yes|./non-makepkg-build.sh
      - name: Archive the artifacts
        uses: actions/upload-artifact@v2
        with:
          name: wine-tkg-build
          path: wine-tkg-git/non-makepkg-builds
